<div class="container">
    <div class="row">
        <div>
            Address: Grevegatan 14, 424 14 Hovås
        </div>
        <div>
            Phone: + 46 (0)706 885 332
        </div>
        <div>
            Website:  <a href="bamboo">Bamboo.se</a>
        </div>
        <div>
            Program: Mon to Sat: 09:30 AM - 10.30 PM
        </div>
    </div>
</div>

